
---
spring:
  config:
    activate:
      on-profile: default
  sql:
    init:
      platform: hana
cds:
  security:
    mock:
      users:
        admin:
          password: admin
          roles:
          - admin
        user:
          password: user
  data-source:
    auto-config:
      enabled: true
---
management:
  endpoint:
    health:
      show-components: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health
  health:
    defaults:
      enabled: false
    ping:
      enabled: true
    db:
      enabled: true
